

node { 
    size: 0.2gu; 
    fill-color: #cceeff, green, red;
    fill-mode: dyn-plain;
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 0.015gu; 
    shadow-color: grey; 
    shadow-offset: 0px; 
    text-style: bold;
    text-size: 13px;   
}

node.unmarked {  
    shadow-color: grey;  
}

node.marked { 
    shadow-color: blue;  
} 

edge { 
    arrow-shape: arrow;
    size: 0.01gu;
    fill-color: #025c79; 
    shadow-mode: plain; 
    shadow-width: 0.002gu; 
    shadow-color: #b4b7b8; 
    shadow-offset: 0px; 
}

edge.unmarked { 
    fill-color: #025c79; 
    shadow-color: #b4b7b8;
}

edge.marked { 
    fill-color: #fa0810;
    shadow-color: #f71530;
}