

node { 
    size: 30px; 
    fill-color: blue, green, red;
    fill-mode: dyn-plain;
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
}

node.unmarked { 
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
}

node.marked { 
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: red; 
    shadow-offset: 0px; 
} 

edge.unmarked { 
    fill-color: blue; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
}

edge.marked { 
    fill-color: blue; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: red; 
    shadow-offset: 0px; 
}