node.unmarked
{ 
    size: 35px; 
    fill-color: #D82; 
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: gradient-radial; 
    shadow-width: 2px; 
    shadow-color: #999, white;
    shadow-offset: 3px, -3px; 
}

node.marked
{ 
    size: 35px; 
    fill-color: red; 
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: gradient-radial; 
    shadow-width: 2px; 
    shadow-color: #999, white;
    shadow-offset: 3px, -3px; 
}

edge 
{
    arrow-shape: arrow; 
} 


edge.actif 
{
     fill-color: #777; 
     shadow-mode: plain; 
     shadow-width: 3px; 
     shadow-color: #FC0; 
     shadow-offset: 0px;
} 