

node { 
    size: 0.2gu; 
    fill-color: #cceeff, green, red;
    fill-mode: dyn-plain;
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
    text-style: bold;
    text-size: 14;
}

node.unmarked { 
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
}

node.marked { 
    stroke-mode: plain; 
    stroke-color: #999; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: blue; 
    shadow-offset: 0px; 
} 

edge { 
    fill-color: #cceeff; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
}

edge.unmarked { 
    fill-color: #cceeff; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: grey; 
    shadow-offset: 0px; 
}

edge.marked { 
    fill-color: blue; 
    shadow-mode: plain; 
    shadow-width: 3px; 
    shadow-color: red; 
    shadow-offset: 0px; 
}